#set-width-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader{
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2b2b2b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.cursor-pointer{
    cursor: pointer;
}
.login-form > .fields > .red_border{
    border: 2px solid red;
    border-radius: 2px;
}
.login-form > .fields > .gold-border{
    border: 1px solid gold;
    border-radius: 2px;
}
.error-message{
    font-size: 14px;
    color: red;
}

.error-styles{
    background-color: red;
    color: white;
    padding: 12px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.success-styles{
    background-color: green;
    color: white;
    padding: 12px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.info-styles{
    background-color: blue;
    color: white;
    padding: 12px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.warning-styles{
    background-color:rgb(174, 174, 4);
    color: white;
    padding: 12px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
}